<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trailbook.kole.activities" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <application
        android:name="com.trailbook.kole.state_objects.TrailBookState"
        android:allowBackup="true"
        android:icon="@drawable/trail_book_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <provider
            android:name="com.trailbook.kole.helpers.CachedFileProvider"
            android:authorities="com.trailbook.kole.helpers.provider">
        </provider>

        <activity
            android:name=".TrailBookActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.trailbook.kole.activities.SearchResultsActivity"
            android:label="@string/search_acivity_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".ApproachingObjectNotificationReceiverActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_note_notification"
            android:launchMode="singleTask"
            android:taskAffinity="" >
        </activity>
        <activity
            android:name=".PathFileReceiverActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_note_notification"
            android:launchMode="singleTask"
            android:taskAffinity="" >
            <category android:name="android.intent.category.LAUNCHER" />
            <!-- For email -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.tbz" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- For http -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.tbz" />
                <data android:pathPattern=".*\\..*\\.tbz"/>
                <data android:pathPattern=".*\\..*\\..*\\.tbz"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.tbz"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.tbz"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.tbz"/>
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- For https -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.tbz" />
                <data android:pathPattern=".*\\..*\\.tbz"/>
                <data android:pathPattern=".*\\..*\\..*\\.tbz"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.tbz"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.tbz"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.tbz"/>
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- For file browsers and google drive -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.tbz" />
                <data android:pathPattern=".*\\..*\\.tbz"/>
                <data android:pathPattern=".*\\..*\\..*\\.tbz"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.tbz"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.tbz"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.tbz"/>
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <service
            android:name="com.trailbook.kole.location_processors.BackgroundLocationService"
            android:enabled="true" />
        <service
            android:name="com.trailbook.kole.services.upload.UploadPathService"
            android:enabled="true" />
        <service
            android:name="com.trailbook.kole.services.download.DownloadPathService"
            android:enabled="true" />

        <receiver android:name="com.trailbook.kole.location_processors.TrailBookLocationReceiver" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBAslEbSa2mCvPFcKuWmpByxa6cNj7PNhQ" />

        <receiver
            android:name="com.trailbook.kole.location_processors.ReceiveStartStopLocationUpdatesCommand"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <provider
            android:name="com.trailbook.kole.contentproviders.TrailbookKeywordContentProvider"
            android:authorities="com.trailbook.kole.contentproviders.TrailbookKeywordContentProvider"
            android:exported="true">
        </provider>

    </application>

</manifest>
